* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: 0;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

li {
    list-style: none;

}

h3 {
    color: olive;
    text-align: start;
    padding: 32px;

}

.header-menu {
    background-color: goldenrod;
    display: flex;
    position: fixed;
    width: 100%;
    padding: 8px;
    padding-top: 32px;
    padding-bottom: 32px;
    height: 10px;
}

.header-menu nav {

    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.lista-menu {

    display: flex;
    justify-content: space-evenly;
    width: 50%;
    list-style: none;
    align-items: center;

}

.lista-menu li>a {
    color: black;
    font-size: 18px;
    text-decoration: inherit;

}

.texto-1 {
    padding: 32px;

}

.tabela-linguagem {
    border: 4px ridge;
    padding: 15px;  
       
}

th, td {
    text-align: center;
    padding: 3px;
}

tr:nth-child(even) {background-color: palegoldenrod;}


.principal {
    display: flex;
    background-color: lightgoldenrodyellow;
    height: 100vh;
    padding-top: 60px;

}

.subcontainer-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}

.principal-2 {
    display: flex;
    background-color: #D9D1C7;
    height: 100vh;
    width: 100%;


}

.subcontainer-principal2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.subcontainer-principal2 li>a {
    font-size: 18px;
    text-decoration: inherit;

}

.lista-item {
    padding: 32px;
    text-align: justify;

}

.lista-item ul li {
    margin-bottom: 52px;

}

.principal3 {
    display: flex;
    background-color: lightgoldenrodyellow;
    width: 100%;
    height: 100vh;  

}

.subcontainer-principal3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    

}

.subcontainer-principal3 li>a {
    font-size: 18px;
    text-decoration: inherit;
   
}

.footer {
    background-color: #D9D1C7;
    display: flex;
    align-items: center;
    height: 30vh;
    justify-content: center;

}

.div-contato {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
   
}

.lista-footer li{
    color: darkgoldenrod;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;

}

.estilo-icon {
    font-size: 22px;
    margin-right: 10px;

}

.links {
    color: darkgoldenrod;
    text-decoration: none;
}